Service References/RecurringService/RecurringSOAP52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RecurringPayment.ListRecurringPayment.Request" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RecurringPayment.ListRecurringPayment.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd3" namespace="EPay.API.Recurring.Request" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd27" namespace="EPay.API.Recurring.RecurringPayment" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="listrecurringpaymentrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="paging" nillable="true" type="q1:paging" />
          <xs:element minOccurs="0" name="recurringpayment" nillable="true" type="tns:recurringpayment" />
          <xs:element minOccurs="0" name="sorting" nillable="true" type="tns:sorting" />
          <xs:element minOccurs="0" name="subscriber" nillable="true" type="tns:subscriber" />
          <xs:element minOccurs="0" name="subscriptionplan" nillable="true" type="tns:subscriptionplan" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="listrecurringpaymentrequest" nillable="true" type="tns:listrecurringpaymentrequest" />
  <xs:complexType name="recurringpayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="authcompletedfrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="authcompletedto" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderid" nillable="true" type="xs:int" />
      <xs:element xmlns:q2="EPay.API.Recurring.RecurringPayment" minOccurs="0" name="paymentstatus" nillable="true" type="q2:paymentstatus" />
      <xs:element minOccurs="0" name="recurringplanid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="scheduledauthfrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="scheduledauthto" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sorting" nillable="true" type="tns:sorting" />
      <xs:element minOccurs="0" name="transactionid" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recurringpayment" nillable="true" type="tns:recurringpayment" />
  <xs:simpleType name="sorting">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="createdascending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="createddescending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="scheduledauthascending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="scheduledauthdescending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="authcompletedascending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="authcompleteddescending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="sorting" nillable="true" type="tns:sorting" />
  <xs:complexType name="subscriber">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscriptionid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriber" nillable="true" type="tns:subscriber" />
  <xs:complexType name="subscriptionplan">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscriptionplanid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriptionplan" nillable="true" type="tns:subscriptionplan" />
</xs:schema>