Service References/RecurringService/RecurringSOAP23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.Subscriber.ListSubscriber.Response" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.Subscriber.ListSubscriber.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd7" namespace="EPay.API.Recurring.Response" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd27" namespace="EPay.API.Recurring.RecurringPayment" />
  <xs:complexType name="listsubscriberresponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Response" base="q1:response">
        <xs:sequence>
          <xs:element minOccurs="0" name="paging" nillable="true" type="q1:paging" />
          <xs:element minOccurs="0" name="subscriberlist" nillable="true" type="tns:subscriberlist" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="listsubscriberresponse" nillable="true" type="tns:listsubscriberresponse" />
  <xs:complexType name="subscriberlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subscriber" nillable="true" type="tns:subscriber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriberlist" nillable="true" type="tns:subscriberlist" />
  <xs:complexType name="subscriber">
    <xs:sequence>
      <xs:element minOccurs="0" name="created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="EPay.API.Recurring.RecurringPayment" minOccurs="0" name="latestpaymentstatus" type="q2:paymentstatus" />
      <xs:element minOccurs="0" name="latestpaymentstatusupdated" type="xs:dateTime" />
      <xs:element xmlns:q3="EPay.API.Recurring.Response" minOccurs="0" name="merchantnumber" nillable="true" type="q3:merchantnumber" />
      <xs:element minOccurs="0" name="subscriptionid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriber" nillable="true" type="tns:subscriber" />
</xs:schema>