Service References/RecurringService/RecurringSOAP26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RecurringPlan.CreateRecurringPlan.Request" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RecurringPlan.CreateRecurringPlan.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd3" namespace="EPay.API.Recurring.Request" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd5" namespace="EPay.API.Recurring.RecurringPlan" />
  <xs:complexType name="createrecurringplanrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="recurringplan" nillable="true" type="tns:recurringplan" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="createrecurringplanrequest" nillable="true" type="tns:createrecurringplanrequest" />
  <xs:complexType name="recurringplan">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="EPay.API.Recurring.RecurringPlan" base="q2:recurringplan">
        <xs:sequence>
          <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="recurringplan" nillable="true" type="tns:recurringplan" />
</xs:schema>