Service References/RecurringService/RecurringSOAP12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RecurringPlan.GetRecurringPlan.Response" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RecurringPlan.GetRecurringPlan.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd7" namespace="EPay.API.Recurring.Response" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd19" namespace="EPay.API.Currency" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd5" namespace="EPay.API.Recurring.RecurringPlan" />
  <xs:complexType name="getrecurringplanresponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Response" base="q1:response">
        <xs:sequence>
          <xs:element minOccurs="0" name="recurringplan" nillable="true" type="tns:recurringplan" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="getrecurringplanresponse" nillable="true" type="tns:getrecurringplanresponse" />
  <xs:complexType name="recurringplan">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="EPay.API.Recurring.RecurringPlan" base="q2:recurringplan">
        <xs:sequence>
          <xs:element minOccurs="0" name="activesubscriptionplansforplan" type="xs:int" />
          <xs:element minOccurs="0" name="created" type="xs:dateTime" />
          <xs:element xmlns:q3="EPay.API.Currency" minOccurs="0" name="currency" nillable="true" type="q3:currency" />
          <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="recurringplan" nillable="true" type="tns:recurringplan" />
</xs:schema>