Service References/RecurringService/RecurringSOAP48.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RecurringPlan.AddRecurringPlanToSubscription.Request" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RecurringPlan.AddRecurringPlanToSubscription.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd3" namespace="EPay.API.Recurring.Request" />
  <xs:complexType name="addrecurringplantosubscriptionrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="recurringplan" nillable="true" type="tns:recurringplan" />
          <xs:element minOccurs="0" name="subscription" nillable="true" type="tns:subscription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="addrecurringplantosubscriptionrequest" nillable="true" type="tns:addrecurringplantosubscriptionrequest" />
  <xs:complexType name="recurringplan">
    <xs:sequence>
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recurringperiodprice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="recurringplanid" type="xs:int" />
      <xs:element minOccurs="0" name="trialperiodprice" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recurringplan" nillable="true" type="tns:recurringplan" />
  <xs:complexType name="subscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscriptionid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscription" nillable="true" type="tns:subscription" />
</xs:schema>