Service References/RecurringService/RecurringSOAP40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RequestResponseLog.ListRequestResponseLog.Request" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RequestResponseLog.ListRequestResponseLog.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd3" namespace="EPay.API.Recurring.Request" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="listrequestresponselogrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="paging" nillable="true" type="q1:paging" />
          <xs:element minOccurs="0" name="requestresponselog" nillable="true" type="tns:requestresponselog" />
          <xs:element minOccurs="0" name="sorting" nillable="true" type="tns:sorting" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="listrequestresponselogrequest" nillable="true" type="tns:listrequestresponselogrequest" />
  <xs:complexType name="requestresponselog">
    <xs:sequence>
      <xs:element minOccurs="0" name="requestapimethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestcontenttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestresponselog" nillable="true" type="tns:requestresponselog" />
  <xs:simpleType name="sorting">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CreatedAscending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CreatedDescending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="sorting" nillable="true" type="tns:sorting" />
</xs:schema>