Service References/RecurringService/RecurringSOAP22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.SubscriptionPlan.ListSubscriptionPlan.Request" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.SubscriptionPlan.ListSubscriptionPlan.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd3" namespace="EPay.API.Recurring.Request" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="listsubscriptionplanrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="paging" nillable="true" type="q1:paging" />
          <xs:element minOccurs="0" name="recurringplan" nillable="true" type="tns:recurringplan" />
          <xs:element minOccurs="0" name="sorting" type="tns:sorting" />
          <xs:element minOccurs="0" name="subscription" nillable="true" type="tns:subscription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="listsubscriptionplanrequest" nillable="true" type="tns:listsubscriptionplanrequest" />
  <xs:complexType name="recurringplan">
    <xs:sequence>
      <xs:element minOccurs="0" name="recurringplanid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recurringplan" nillable="true" type="tns:recurringplan" />
  <xs:simpleType name="sorting">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="createdascending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="createddescending">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="sorting" nillable="true" type="tns:sorting" />
  <xs:complexType name="subscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscriptionid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscription" nillable="true" type="tns:subscription" />
</xs:schema>