Service References/RecurringService/RecurringSOAP33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.Subscriber.GetSubscriber.Request" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.Subscriber.GetSubscriber.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd3" namespace="EPay.API.Recurring.Request" />
  <xs:complexType name="getsubscriberrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="subscriber" nillable="true" type="tns:subscriber" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="getsubscriberrequest" nillable="true" type="tns:getsubscriberrequest" />
  <xs:complexType name="subscriber">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscriptionid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriber" nillable="true" type="tns:subscriber" />
</xs:schema>