Service References/RecurringService/RecurringSOAP32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RecurringPlan.ListRecurringPlan.Response" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RecurringPlan.ListRecurringPlan.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd7" namespace="EPay.API.Recurring.Response" />
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd19" namespace="EPay.API.Currency" />
  <xs:complexType name="listrecurringplanresponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Response" base="q1:response">
        <xs:sequence>
          <xs:element minOccurs="0" name="paging" nillable="true" type="q1:paging" />
          <xs:element minOccurs="0" name="recurringplanlist" nillable="true" type="tns:recurringplanlist" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="listrecurringplanresponse" nillable="true" type="tns:listrecurringplanresponse" />
  <xs:complexType name="recurringplanlist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="recurringplan" nillable="true" type="tns:recurringplan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recurringplanlist" nillable="true" type="tns:recurringplanlist" />
  <xs:complexType name="recurringplan">
    <xs:sequence>
      <xs:element minOccurs="0" name="activesubscriptionplansforplan" type="xs:int" />
      <xs:element minOccurs="0" name="created" type="xs:dateTime" />
      <xs:element xmlns:q2="EPay.API.Currency" minOccurs="0" name="currency" nillable="true" type="q2:currency" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recurringplanid" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recurringplan" nillable="true" type="tns:recurringplan" />
</xs:schema>