Service References/RecurringService/RecurringSOAP16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RecurringPlan.GetRecurringPlan.Request" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RecurringPlan.GetRecurringPlan.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd3" namespace="EPay.API.Recurring.Request" />
  <xs:complexType name="getrecurringplanrequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Request" base="q1:request">
        <xs:sequence>
          <xs:element minOccurs="0" name="recurringplan" nillable="true" type="tns:recurringplan" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="getrecurringplanrequest" nillable="true" type="tns:getrecurringplanrequest" />
  <xs:complexType name="recurringplan">
    <xs:sequence>
      <xs:element minOccurs="0" name="recurringplanid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recurringplan" nillable="true" type="tns:recurringplan" />
</xs:schema>