Service References/RecurringService/RecurringSOAP3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.RequestResponseLog.ListRequestResponseLog.Response" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.RequestResponseLog.ListRequestResponseLog.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd7" namespace="EPay.API.Recurring.Response" />
  <xs:complexType name="listrequestresponselogresponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="EPay.API.Recurring.Response" base="q1:response">
        <xs:sequence>
          <xs:element minOccurs="0" name="paging" nillable="true" type="q1:paging" />
          <xs:element minOccurs="0" name="requestresponseloglist" nillable="true" type="tns:requestresponseloglist" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="listrequestresponselogresponse" nillable="true" type="tns:listrequestresponselogresponse" />
  <xs:complexType name="requestresponseloglist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="requestresponselog" nillable="true" type="tns:requestresponselog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestresponseloglist" nillable="true" type="tns:requestresponseloglist" />
  <xs:complexType name="requestresponselog">
    <xs:sequence>
      <xs:element minOccurs="0" name="processingtimeinms" type="xs:int" />
      <xs:element minOccurs="0" name="requestapimethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestcontentencoding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestcontenttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestcreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="requesthttpmethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestrawurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="requestresponselogid" type="xs:long" />
      <xs:element minOccurs="0" name="responsecontentencoding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsecontenttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsecreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="responseresult" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="requestresponselog" nillable="true" type="tns:requestresponselog" />
</xs:schema>