Service References/RecurringService/RecurringSOAP15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API" elementFormDefault="qualified" targetNamespace="EPay.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="request">
    <xs:sequence>
      <xs:element minOccurs="0" name="authentication" nillable="true" type="tns:authentication" />
      <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="localtimezone" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="request" nillable="true" type="tns:request" />
  <xs:complexType name="authentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="merchantnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="authentication" nillable="true" type="tns:authentication" />
</xs:schema>