Service References/RecurringService/RecurringSOAP21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EPay.API.Recurring.Response" elementFormDefault="qualified" targetNamespace="EPay.API.Recurring.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://recurring.api.epay.eu/v1/RecurringSOAP.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="response">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" type="tns:reason" />
      <xs:element minOccurs="0" name="requestresponselogid" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="response" nillable="true" type="tns:response" />
  <xs:simpleType name="reason">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ok">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="error">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="reason" nillable="true" type="tns:reason" />
  <xs:complexType name="paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="pagenumber" type="xs:int" />
      <xs:element minOccurs="0" name="pagesize" type="xs:int" />
      <xs:element minOccurs="0" name="totalpages" type="xs:int" />
      <xs:element minOccurs="0" name="totalrows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paging" nillable="true" type="tns:paging" />
  <xs:complexType name="merchantnumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="mode" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="merchantnumber" nillable="true" type="tns:merchantnumber" />
</xs:schema>